/* ===== FONT IMPORTS ===== */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;500;600;700&display=swap");

/* ===== SET VARIABLES ==== */
:root {
  --header-height: 7rem;
}

/* BASIC RESET */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

/* Custom Scrollbar */
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

body::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

body::-webkit-scrollbar-thumb {
  background-color: #333;
}

/* NAV*/
.above_header {
  position: absolute;
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: black;
  color: #fff;
  z-index: 99999999;
}

.upper_links {
  float: right;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  color: #e69500;
  transition: all 0.5s ease;
  margin: 0 0.5rem;
}

.upper_links:hover {
  color: #fff;
  transition: all 0.5s ease;
}

.navbar {
  margin-top: 40px;
  position: fixed;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  z-index: 99999;
  height: 70px;
  width: 100%;
}

.title {
  font-size: 1.5rem;
  margin: 0.5rem;
  padding-left: 2rem;
  display: flex;
  align-items: center;
}

.title img {
  width: 5%;
}

.title a {
  text-decoration: none;
  color: white;
  padding-right: 1rem;
}

.navbar-links {
  padding-right: 2rem;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  text-decoration: none;
  color: white;
  padding: 1rem 2rem;
  display: block;
}

.hover,
.active {
  text-align: center;
  margin: 0 auto;
  padding: 0;
  transition: all 0.2s ease-in-out;
  position: relative;
}

.hover:before,
.hover:after {
  content: "";
  position: absolute;
  bottom: -3px;
  width: 0px;
  height: 3px;
  margin: 5px 0 0;
  transition: all 0.2s ease-in-out;
  transition-duration: 0.3s;
  opacity: 0;
  background-color: #e69500;
  left: 0;
}

.active:before,
.active:after {
  content: "";
  position: absolute;
  bottom: -3px;
  width: 100%;
  height: 3px;
  margin: 5px 0 0;
  transition: all 0.2s ease-in-out;
  transition-duration: 0.3s;
  opacity: 1;
  background-color: #e69500;
  left: 0;
}

.navbar-links .nav__link:hover .hover:before,
.navbar-links .nav__link:hover .hover:after {
  width: 100%;
  opacity: 1;
}

.toggle-button {
  position: absolute;
  top: 2rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 1000px) {
  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
    transition: 3s;
    height: 100vh;
    background: black;
  }

  .navbar-links li {
    text-align: center;
  }

  .navbar-links li a {
    padding: 0.5rem 1rem;
  }
  form {
    text-align: center;
    padding: 1rem;
  }
  .navbar-links.active {
    display: flex;
  }
}

/* ==== INDEX PAGE ===== */

/* Hero */
.hero {
  padding-top: 40px;
  height: 75vh;
}

#my-keen-slider {
  height: 75vh;
}

[class^="number-slide"],
[class*=" number-slide"] {
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #333;
  font-weight: 500;
  height: 100%;
}

/* TESTING PURPOSES, CAN DELETE WHEN IMAGES ARE IN */
/* .number-slide1 {
  background: rgb(64, 175, 255);
  background: linear-gradient(
    128deg,
    rgba(64, 175, 255, 1) 0%,
    rgba(63, 97, 255, 1) 100%
  );
}

.number-slide2 {
  background: rgb(255, 75, 64);
  background: linear-gradient(
    128deg,
    rgba(255, 154, 63, 1) 0%,
    rgba(255, 75, 64, 1) 100%
  );
}

.number-slide3 {
  background: rgb(182, 255, 64);
  background: linear-gradient(
    128deg,
    rgba(182, 255, 64, 1) 0%,
    rgba(63, 255, 71, 1) 100%
  );
  background: linear-gradient(
    128deg,
    rgba(189, 255, 83, 1) 0%,
    rgba(43, 250, 82, 1) 100%
  );
}

.number-slide4 {
  background: rgb(64, 255, 242);
  background: linear-gradient(
    128deg,
    rgba(64, 255, 242, 1) 0%,
    rgba(63, 188, 255, 1) 100%
  );
}

.number-slide5 {
  background: rgb(255, 64, 156);
  background: linear-gradient(
    128deg,
    rgba(255, 64, 156, 1) 0%,
    rgba(255, 63, 63, 1) 100%
  );
}
.number-slide6 {
  background: rgb(64, 76, 255);
  background: linear-gradient(
    128deg,
    rgba(64, 76, 255, 1) 0%,
    rgba(174, 63, 255, 1) 100%
  );
} */

.dots {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 3.5rem;
}

.dot {
  border: none;
  width: 25px;
  height: 4px;
  border: 1px solid black;
  background: #fff;
  margin: 0 5px;
  cursor: pointer;
}

.dot:focus {
  outline: none;
}

.dot--active {
  background: #000;
  border: none;
}

.arrow {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  fill: #333;
  cursor: pointer;
  z-index: 9999;
}

.arrow--left {
  left: 5px;
}

.arrow--right {
  left: auto;
  right: 5px;
}

.arrow--disabled {
  fill: rgba(255, 255, 255, 0.5);
}

/* 3 Image Links */

.picture__links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas: ". . .";
}

.picture__links img {
  max-width: 100%;
  max-height: 100%;
}

@media screen and (max-width: 1100px) {
  .picture__links {
    grid-template-columns: 1fr;
    grid-template-areas: ".";
  }
}

/* Upcoming Fixtures */
.upcoming__fixtures {
  position: relative;
  min-height: calc(25vh + 30vh);
}

.bg__text,
.overlay__text {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.overlay__text {
  z-index: 10;
  text-align: center;
  padding-top: 7rem;
}

.overlay__text p {
  text-transform: uppercase;
  color: rgb(150, 150, 150);
  font-size: calc(1vw);
  letter-spacing: 0.25rem;
  right: 0.25rem;
}

.overlay__text h2 {
  font-size: calc(2.5vw);
  margin-top: -1rem;
}

.bg__text h1 {
  text-align: center;
  font-size: calc(20vw + 10vmin);
  margin: auto;
  font-family: "Oswald", sans-serif;
  padding-bottom: 1rem;
  margin-top: -5rem;
  color: rgba(241, 241, 241, 0.65);
}

.fixtures__grid {
  padding-left: 5rem;
  padding-right: 5rem;
  margin-top: -15rem;
  padding-bottom: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3rem 3rem;
  grid-template-areas: ". . .";
}

.fixtures__grid .fixture {
  max-width: 100%;
  max-height: 100%;
  background-color: #fff;
  z-index: 16;
  border: 1px solid rgb(206, 206, 206);
}

.fixture .fixture__details {
  text-align: center;
  padding: 1rem;
}

.fixture .fixture__details h2,
.fixture .fixture__details h3 {
  font-weight: 400;
}

.fixture .fixture__details span {
  font-weight: 600;
}

.fixture {
  transition: all 0.3s;
}

.fixture:hover {
  transform: scale(1.05);
}

@media screen and (max-width: 1100px) {
  .fixtures__grid {
    grid-template-columns: 1fr;
    grid-template-areas: ".";
    margin-top: -5rem;
  }

  .upcoming__fixtures {
    position: relative;
    min-height: calc(25vh + 5vh);
  }

  /* .bg__text h1 {
    font-size: calc(10vw + 10vh + 15vmin);
  } */

  .overlay__text {
    z-index: 10;
    text-align: center;
    padding-top: 5rem;
  }
}

@media screen and (max-width: 850px) {
  .bg__text h1 {
    /* font-size: calc(10vw + 10vh + 5vmin); */
    margin-top: 0rem;
  }
  .fixtures__grid .fixture {
    margin: auto;
    width: 90%;
  }

  .fixtures__grid {
    margin: auto;
    padding: 5rem 0;
  }
}

/* ===== MEDIA QUERIES ===== */

/* Footer */

.footer-container {
  max-width: 90vw;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style: none;
}
.footer {
  background-color: #24262b;
  padding: 70px 0;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col .bio {
  color: #bbbbbb;
  padding-right: 6rem;
  font-size: 1.1rem;
}

.notice {
  color: #bbbbbb;
  font-size: 1.1rem;
}

.notice a {
  text-decoration: none;
  color: #5094e2;
}

.footer-col h4 {
  font-size: 1.3rem;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 2rem;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #e69500;
  height: 2px;
  box-sizing: border-box;
  width: 10%;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 1.2rem;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

@media screen and (max-width: 1024px) {
  .row {
    flex-direction: column;
    align-content: center;
  }
  .footer-col {
    width: 100%;
  }

  .footer-col .bio {
    color: #bbbbbb;
    font-size: 1.1rem;
    width: 100%;
  }

  .bio-col {
    padding: 0 4rem;
    width: 100%;
  }
}

.footer-col p {
  color: #fff;
}

/* ************************************FIXTURES PAGE ***************************** */

#fixtures_hero {
  background: red;
  height: 50vh;
}

#fixtures_hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#fixture_div__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.fixture_div {
  display: flex;
  flex-direction: row;
  background: white;
  width: 70%;
  margin: 0rem;
  justify-content: space-around;
  border: 1px solid #8a8a8a;
  transition: 0.1s ease;
}

.fixture_div:nth-of-type(even) {
  background: #e8e8e9;
}

.fixture_div:hover {
  border-left: 5px solid #e69500;
  transition: 0.1s ease;
}

.fixture_div_vs {
  display: flex;
  align-items: center;
}

.fixture_div_vs img {
  padding: 0 1rem;
  margin: auto;
  height: 50px;
}

.fixture_div_btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fixture_div_btns button {
  width: 100px;
  margin: auto;
}

@media screen and (max-width: 900px) {
  .fixture_div {
    display: flex;
    flex-direction: column;
    background: white;
    align-items: center;
    width: 90%;
  }
}

#next_info {
  position: relative;
  opacity: 0.8;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* fixed for parallax, scroll for normal*/
  background-attachment: fixed;
  padding-top: 65px;
  background-image: url(/Assets/images/Carousel\ image.jpg);
  min-height: 60vh;
  background-position: top;
  background-size: 100%;
  filter: brightness(85%);
  display: flex;
  align-items: center;
  z-index: 1;
}

.next_info_overlay {
  z-index: 2;
  margin: auto;
  text-align: center;
}
.next_info_overlay button:hover {
  cursor: pointer;
}

#fixture_sponsors {
  margin: auto;
  min-height: 20rem;
  background: #e69500;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#fixture_sponsors_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

.sponsor_img {
  width: 100px;
  margin: auto;
  margin-top: 2rem;
}

/* ************************************TEAM PAGE ***************************** */
#team {
  background: #f7f7f7;
}
#team_hero {
  background: red;
  height: 50vh;
}

#team_hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.player_card_grid {
  max-width: 100%;
  height: auto;
  margin: auto;
  padding: 5rem 0;
}

.player_card {
  margin: auto;
  width: 300px;
  transition: 0.2s ease-in-out;
}

.player_card img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.player_info {
  padding-left: 0.5rem;
  padding-bottom: 0.1rem;
  font-weight: 400;
}

.player_card:hover img {
  transition: 0.2s ease-in-out;
  filter: grayscale(100);
}

.player_card p {
  font-weight: 200;
}

.player_card:hover h3 {
  transition: 0.2s ease-in-out;
  color: #e69500;
}

/* ************************************ GALLERY PAGE ***************************** */


.gallery-container {
  padding-top: 7rem;
  padding-bottom: 5rem;
  width: 95%;
  max-width: 250rem;
  margin: auto;
  overflow-x: hidden;
}

.gallery-container h1 {
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
  letter-spacing: 3px;
  margin-right: -3px;
  font-size: 3.5rem;
}

.image-gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-gap: 1.5rem;
  grid-template-areas:
    "img-2 img-6 img-5 img-5"
    "img-2 img-4 img-3 img-1"
    "img-8 img-8 img-7 img-1";
}

.image-gallery a {
  width: 100%;
  height: 25rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.image-gallery a i {
  color: rgba(255, 255, 255, 0.6);
  font-size: 3rem;
  position: relative;
  z-index: 100;
  padding: 1rem 1rem;
  border: 2px solid rgba(255, 255, 255, 0.6);
  border-radius: 0.4rem;
  opacity: 0;
  transition: opacity 0.5s;
}

.image-gallery a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: opacity 0.5s;
}

.image-gallery a:hover i,
.image-gallery a:hover::before {
  opacity: 1;
}

.img-1 {
  grid-area: img-1;
  min-height: 51.5rem;
  background-image: url("/Assets/images/gallery/Tall2.JPG");
}

.img-2 {
  grid-area: img-2;
  min-height: 51.5rem;
  background-image: url("/Assets/images/gallery/Tall1.JPG");
}

.img-3 {
  grid-area: img-3;
  background-image: url("/Assets/images/gallery/Middle3.JPG");
}

.img-4 {
  grid-area: img-4;
  background-image: url("/Assets/images/gallery/Middle2.JPG");
}

.img-5 {
  grid-area: img-5;
  background-image: url("/Assets/images/gallery/Wide1.JPG");
}

.img-6 {
  grid-area: img-6;
  background-image: url("/Assets/images/gallery/Middle1.JPG");
}

.img-7 {
  grid-area: img-7;
  background-image: url("/Assets/images/gallery/Middle4.JPG");
}

.img-8 {
  grid-area: img-8;
  background-image: url("/Assets/images/gallery/Wide2.JPG");
}

.gallery-container .heading {
  text-transform: uppercase;
  font-size: 3.2rem;
  font-weight: 400;
  margin-right: -3px;
  text-align: center;
  color: #e69500;
  position: relative;
}

@media only screen and (max-width: 900px) {
  .image-gallery {
    grid-template-areas:
      "img-2 img-2 img-6 img-6"
      "img-2 img-2 img-1 img-1"
      "img-4 img-4 img-1 img-1"
      "img-8 img-8 img-8 img-8"
      "img-5 img-5 img-5 img-5"
      "img-3 img-3 img-7 img-7";
  }
}

@media only screen and (max-width: 700px) {
  .image-gallery {
    grid-template-areas:
      "img-2 img-2 img-2 img-2"
      "img-6 img-6 img-6 img-6"
      "img-5 img-5 img-5 img-5"
      "img-8 img-8 img-8 img-8"
      "img-4 img-4 img-4 img-4"
      "img-1 img-1 img-1 img-1"
      "img-3 img-3 img-3 img-3"
      "img-7 img-7 img-7 img-7";
  }

  .image-gallery a,
  .img-1,
  .img-2 {
    min-height: 40rem;
    height: 40rem;
  }
}